/* #region Avatar */
.avatar,
.register {
  width: 150px;
  height: 50px;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  gap: 15px;
  border-radius: 10px;
  box-shadow: var(--boxShadow);
}

.avatar .userIcon {
  display: flex;
  color: #ffffff;
  font-size: 1.8rem;
}

.avatar img {
  display: flex;
  align-items: center;
  width: 35px;
  height: 35px;
  border-radius: 50%;
}

.avatar .user {
  display: flex;
  flex-direction: column;
}

.avatar .user span {
  font-size: 0.7rem;
  color: #ffffff;
}
/* #endregion */

/* #region Register */
.register {
  color: #ffffff;
}

.register .text p {
  margin-top: 5px;
  font-size: 0.9rem;
  letter-spacing: 1px;
}
/* #endregion */
