.rentCarItem {
  text-align: center;
}

.rentCarItem :is(td, th) {
  background: transparent;
  color: #ffffff;
  font-size: 1.1rem;
}

.rentCarItem img {
  width: 120px;
  height: 80px;
  object-fit: cover;
  object-position: center;
  border-radius: 5px;
}

.rentCarItem :is(.rentIcon, .removeIcon) {
  font-size: 1.3rem;
  cursor: pointer;
  font-weight: bold;
  transition: 0.3s;
}

.rentCarItem :is(.rentIcon, .removeIcon):hover {
  scale: 1.3;
}

.rentCarItem .rentIcon {
  color: #73ff73;
}

.rentCarItem .removeIcon {
  color: #ff7676;
}