.phoneNumberContainer {
  display: flex;
}

.phoneNumberContainer select {
  width: fit-content;
}

.phoneNumberContainer input {
  width: 100%;
}

.phoneNumberContainer input[type="number"]::-webkit-outer-spin-button,
.phoneNumberContainer input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
