.formContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  margin: auto;
}

.textRangePeriodContainer {
  display: flex;
  justify-content: center;
  width: 100%;
}

.textRangePeriodContainer p {
  font-size: 0.9rem;
  color: #ffffff;
}

.placeContainer div input[type="text"] {
  margin: 10px;
  padding: 5px;
}

.note {
  margin: 10px;
  min-height: 100px;
  width: 100%;
  padding: 5px;
  resize: none;
}

/* #region Date Picker */
.datePicker {
  padding: 5px;
  margin: 10px;
}
/* #endregion */

/* #region Total Info */
.totalInfoContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 100%;
  gap: 10px;
  margin: 10px;
}

.totalInfoContainer p span {
  font-size: 1.1rem;
  color: #adff2f;
  margin: 0 30px 0 10px;
}
/* #endregion */

.btnClearDataContainer {
  display: flex;
  justify-content: end;
  margin: 10px;
}

.btnClearDataContainer div {
  display: block;
  font-size: 1.3rem;
  margin-right: 10px;
  color: #ffffff;
  cursor: pointer;
  transition: 0.3s;
}

.btnClearDataContainer div:hover {
  scale: 1.1;
  color: #f39810;
}

.btnSendContainer {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 90px;
}

.btnSendContainer button {
  width: 100%;
  margin: 20px;
  padding: 10px;
  letter-spacing: 1px;
  font-weight: bold;
  text-transform: capitalize;
  background-color: rgb(6, 68, 6);
  color: rgb(128, 249, 128);
  border: none;
  cursor: pointer;
  transition: 0.3s;
}

.btnSendContainer button:not([disabled]):hover {
  background-color: rgb(72, 209, 72);
  color: rgb(6, 68, 6);
}

.btnSendContainer button {
  background-color: #626262;
  cursor: not-allowed;
  opacity: 0.6;
}
